$bgc: rgb(103, 186, 224);
$textColor: ghostwhite;

.wrapper {
    width: 60%;
    margin: 0 auto;
}
.header {
    display: flex;
    margin-bottom: 10px;
    input {
        display: flex;
        flex-grow: 1;
    }
    select {
        flex-basis: 200px;
    }
    .addBtn, .morehBtn {
        cursor: pointer;
        width: 50px;
        height: 30px;
        background: url('../../assets/post.svg') no-repeat 50%/contain;
        border: 1px solid #000;
        transition: 0.3s;
        &:hover {
            background-color: $bgc;
        }
        &:active {
            transform: translate(2px, 2px);
        }
    }
    .morehBtn {
        background-image: url('../../assets/more.svg');
    }  
}
.subWrapper {
    max-height: 800px;
    overflow-y: auto;
}
.thingTile {
    display: flex;
    text-align: left;
    align-items: center;
    height: 40px;
    background-color: $bgc;
    color: $textColor;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto 5px;
    transition: .3s;
    &:hover {
    background-color: $textColor;
    color: $bgc;
    }
    .carLogo, .petLogo {
        height: 30px;
        max-width: 70px;
        margin: 0 auto;
        display: block;
    }
    > div {
        &:nth-child(n+1) {
           padding: 5px 10px; 
        }
        &:nth-child(1) {    
            width: 30px;
        }
        &:nth-child(2) {
            width: 30%;
        }
        &:nth-child(3) {
            min-width: 90px;
        }
        &:nth-child(4) {
            width: 80px;
        }
        &:nth-child(5) {
            width: 10%;
        }
        &:nth-child(6) {
            width: 10%;
        }
        &:nth-child(7) {
            width: 5%;
            cursor: pointer;
            margin-right: 0;
            height: 30px;
            background: url('../../assets/exchange.svg') no-repeat 50%/contain;
        }
        &:nth-child(8) {
            width: 5%;
            cursor: pointer;
            height: 30px;
            background: url('../../assets/delete.svg') no-repeat 50%/contain;
        }
    }
}
@media  (max-width: 1024px) {
    .wrapper {
        width: 100%;
        padding: 0 10px;
    }
}